<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.approval.DmApprovalMapper">
    <resultMap id="DmApprovalDO" type="com.clougence.clouddm.platform.dal.model.approval.DmApprovalDO">
        <result column="id" property="id"/>
        <result column="biz_id" property="bizId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="bind_ds_id" property="bindDsId"/>
        <result column="target_info" property="targetInfo"/>
        <result column="appro_type" property="approType"
                typeHandler="com.clougence.clouddm.platform.dal.handler.enums.RdpApprovalTypeHandler"/>
        <result column="appro_biz" property="approBiz"/>
        <result column="appro_identity" property="approIdentity"/>
        <result column="appro_template_name" property="approTemplateName"/>
        <result column="appro_template_identity" property="approTemplateIdentity"/>
        <result column="appro_comment" property="approComment"/>
        <result column="description" property="description"/>
        <result column="status_message" property="statusMessage"/>
        <result column="ticket_title" property="ticketTitle"/>
        <result column="ticket_status" property="ticketStatus"/>
        <result column="finish_time" property="finishTime"/>
        <result column="deleted" property="deleted"/>
        <result column="env_name" property="envName"/>
        <result column="primary_uid" property="primaryUid"/>
        <result column="approval_url" property="approvalUrl"/>
        <result column="raw_sql" property="rawSql"/>
        <result column="content_type" property="contentType"/>
        <result column="expected_affected_rows" property="expectedAffectedRows"/>
        <result column="roll_back_sql" property="rollBackSql"/>
        <result column="ticket_info" property="ticketInfo"/>
        <result column="levels" property="levels"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="features" property="features"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <sql id="all_ticket_col">
        id,
        biz_id,
        gmt_create,
        gmt_modified,
        owner_uid,
        bind_ds_id,
        target_info,
        appro_type,
        appro_biz,
        appro_identity,
        appro_template_name,
        appro_template_identity,
        appro_comment,
        description,
        status_message,
        ticket_title,
        ticket_status,
        finish_time,
        deleted,
        primary_uid,
        env_name,
        approval_url,
        raw_sql,
        content_type,
        expected_affected_rows,
        roll_back_sql,
        ticket_info,
        levels,
        features
    </sql>

    <sql id="basic_ticket_col">
        id,
        biz_id,
        gmt_create,
        gmt_modified,
        owner_uid,
        bind_ds_id,
        target_info,
        appro_type,
        appro_biz,
        appro_template_name,
        description,
        ticket_title,
        ticket_status,
        finish_time
    </sql>

    <!--   =============================== ========================================================================-->

    <update id="updateStatusByEnum">
        UPDATE
            dm_approval
        SET
            ticket_status  = #{ticketStatus},
            status_message = #{statusMessage},
            gmt_modified   = NOW()
            <if test="ticketStatus.name() == 'REJECTED' || ticketStatus.name() == 'FINISHED' || ticketStatus.name() == 'CLOSED' || ticketStatus.name() == 'CANCELED'">
                ,
                finish_time = NOW()
            </if>
        WHERE
            id = #{ticketId}
    </update>

    <update id="updateModified">
        UPDATE
            dm_approval
        SET
            gmt_modified = NOW()
        WHERE
            id = #{id}
    </update>

    <update id="updateThirdApprovalInfo">
        UPDATE
            dm_approval
        SET
            appro_identity = #{approvalIdentity},
            approval_url   = #{url}
        WHERE
            id = #{ticketId}
    </update>

    <update id="updateComment">
        UPDATE
            dm_approval
        SET
            appro_comment = #{comment}
        WHERE
            id = #{ticketId}
    </update>

    <update id="updateTicketInfo">
        UPDATE
            dm_approval
        SET
            ticket_info = #{ticketInfo}
        WHERE
            id = #{ticketId}
    </update>

    <update id="updateExpectedAffectedRows">
        UPDATE
            dm_approval
        SET
            expected_affected_rows = #{expectedAffectedRows}
        WHERE
            id = #{ticketId}
    </update>

    <select id="queryByBizId" resultMap="DmApprovalDO">
        SELECT
            <include refid="all_ticket_col"/>
        FROM
            dm_approval
        <where>
            biz_id  = #{bizId}
            AND
            deleted = false
        </where>
    </select>

    <select id="queryByBizIdWithoutRawSql" resultMap="DmApprovalDO">
        SELECT
            id,
            biz_id,
            owner_uid,
            primary_uid,
            content_type,
            expected_affected_rows,
            roll_back_sql,
            ticket_info,
            features
        FROM
            dm_approval
        <where>
            biz_id  = #{bizId}
            AND
            deleted = false
        </where>
    </select>

    <select id="queryById" resultMap="DmApprovalDO">
        SELECT
            <include refid="all_ticket_col"/>
        FROM
            dm_approval
        <where>
            id      = #{id}
            AND
            deleted = false
        </where>
    </select>

    <select id="listTicketByConditionAndPage" resultMap="DmApprovalDO">
        SELECT
            <include refid="basic_ticket_col"/>
        FROM
            dm_approval
        <where>
            <if test="ticketQuery.uids != null and ticketQuery.uids.size() >0">
                AND
                owner_uid IN
                <foreach collection="ticketQuery.uids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ticketQuery.startTime != null">
                <![CDATA[ AND gmt_create > #{ticketQuery.startTime} ]]>
            </if>
            <if test="ticketQuery.endTime != null">
                <![CDATA[ AND gmt_create < #{ticketQuery.endTime} ]]>
            </if>
            <if test="ticketQuery.ticketId != null">
                <![CDATA[ AND id = #{ticketQuery.ticketId} ]]>
            </if>
            <if test="ticketQuery.ticketBizId != null">
                <![CDATA[ AND biz_id = #{ticketQuery.ticketBizId} ]]>
            </if>
            <if test="ticketQuery.ticketTitleName != null">
                <![CDATA[ AND ticket_title LIKE CONCAT('%', #{ticketQuery.ticketTitleName}, '%') ]]>
            </if>
            <if test="ticketQuery.ticketDescription != null">
                <![CDATA[
                    AND
                    description LIKE CONCAT('%', #{ticketQuery.ticketDescription}, '%')
                ]]>
            </if>
            <if test="ticketQuery.ticketContent != null">
                <![CDATA[
                    AND
                    content_type = 'INLINE'
                    AND
                    raw_sql      LIKE CONCAT('%', #{ticketQuery.ticketContent}, '%')
                ]]>
            </if>
            <if test="ticketQuery.ticketStatus != null">
                <![CDATA[ AND ticket_status = #{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]>
            </if>
            <if test="ticketQuery.dsIds != null and ticketQuery.dsIds.size() >0">
                AND
                bind_ds_id IN
                <foreach collection="ticketQuery.dsIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND
            primary_uid = #{puid}
            AND
            deleted     = false
        </where>
        ORDER BY
            gmt_create DESC
    </select>

    <select id="listConfirmTicketByConditionAndPage" resultMap="DmApprovalDO">
        SELECT
            a.id,
            a.biz_id,
            a.gmt_create,
            a.gmt_modified,
            a.owner_uid,
            a.bind_ds_id,
            a.target_info,
            a.appro_type,
            a.appro_biz,
            a.appro_identity,
            a.appro_template_name,
            a.appro_template_identity,
            a.appro_comment,
            a.description,
            a.status_message,
            a.ticket_title,
            a.ticket_status,
            a.finish_time,
            a.deleted,
            a.primary_uid,
            a.env_name,
            a.approval_url
        FROM
            dm_approval a
        LEFT JOIN
            dm_approval_person b
        ON
            a.biz_id = b.ticket_bz_id
        <where>
            <if test="ticketQuery.uids != null and ticketQuery.uids.size() >0">
                AND
                a.owner_uid IN
                <foreach collection="ticketQuery.uids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ticketQuery.startTime != null">
                <![CDATA[ AND a.gmt_create > #{ticketQuery.startTime} ]]>
            </if>
            <if test="ticketQuery.endTime != null">
                <![CDATA[ AND a.gmt_create < #{ticketQuery.endTime} ]]>
            </if>
            <if test="ticketQuery.ticketId != null">
                <![CDATA[ AND a.id = #{ticketQuery.ticketId} ]]>
            </if>
            <if test="ticketQuery.ticketBizId != null">
                <![CDATA[ AND a.biz_id = #{ticketQuery.ticketBizId} ]]>
            </if>
            <if test="ticketQuery.ticketTitleName != null">
                <![CDATA[ AND a.ticket_title LIKE CONCAT('%', #{ticketQuery.ticketTitleName}, '%') ]]>
            </if>
            <if test="ticketQuery.ticketDescription != null">
                <![CDATA[
                    AND
                    a.description LIKE CONCAT('%', #{ticketQuery.ticketDescription}, '%')
                ]]>
            </if>
            <if test="ticketQuery.ticketContent != null">
                <![CDATA[
                    AND
                    a.content_type = 'INLINE'
                    AND
                    a.raw_sql      LIKE CONCAT('%', #{ticketQuery.ticketContent}, '%')
                ]]>
            </if>
            <if test="ticketQuery.ticketStatus != null">
                <![CDATA[ AND a.ticket_status = #{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]>
            </if>
            <if test="ticketQuery.approvalPersonUid != null">
                <![CDATA[ AND b.person_uid = #{ticketQuery.approvalPersonUid} ]]>
            </if>
            AND
            a.deleted       = false
            AND
            a.ticket_status IN ('WAIT_CONFIRM', 'WAIT_APPROVAL', 'WAIT_EXEC')
        </where>
        GROUP BY
            a.id
        ORDER BY
            a.gmt_create DESC
    </select>

    <select id="queryByApproIdentity" resultMap="DmApprovalDO">
        SELECT
            <include refid="all_ticket_col"/>
        FROM
            dm_approval
        <where>
            appro_identity = #{approIdentity}
            AND
            appro_type     = #{type}
            AND
            deleted        = false
            <if test="puid != null">
                AND
                primary_uid = #{puid}
            </if>
        </where>
    </select>

    <select id="selectByIdForUpdate" resultMap="DmApprovalDO">
        SELECT
            <include refid="all_ticket_col"/>
        FROM
            dm_approval
        WHERE
            id = #{ticketId}
        FOR UPDATE
    </select>

    <select id="listUnFinishTicketIdList" resultType="java.lang.Long">
        SELECT
            id
        FROM
            dm_approval
        WHERE
            ticket_status                      IN ('PRE_INIT_WAIT', 'PRE_INIT_RUN', 'WAIT_APPROVAL', 'WAIT_CONFIRM', 'WAIT_EXEC', 'RUNNING', 'EXEC_FAIL')
            AND
            DATE_SUB(NOW(), INTERVAL 5 SECOND) <![CDATA[ >= ]]> gmt_modified
        ORDER BY gmt_modified ASC
        LIMIT 20
    </select>

    <select id="listFinishedTicketIdList" resultType="java.lang.Long">
        SELECT
            id
        FROM
            dm_approval
        WHERE
            ticket_status = 'FINISHED'
            AND
            appro_biz = #{approBiz}
            AND
            deleted = false
        ORDER BY gmt_modified ASC
        LIMIT 20
    </select>

    <select id="listAuthTicketByConditionAndPage" resultMap="DmApprovalDO">
        SELECT
            <include refid="all_ticket_col"/>
        FROM
            dm_approval
        <where>
            <if test="ticketQuery.uids != null and ticketQuery.uids.size() >0">
                AND
                owner_uid IN
                <foreach collection="ticketQuery.uids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ticketQuery.startTime != null">
                <![CDATA[ AND gmt_create > #{ticketQuery.startTime} ]]>
            </if>
            <if test="ticketQuery.endTime != null">
                <![CDATA[ AND gmt_create < #{ticketQuery.endTime} ]]>
            </if>
            <if test="ticketQuery.ticketTitleName != null">
                <![CDATA[ AND ticket_title LIKE CONCAT('%', #{ticketQuery.ticketTitleName}, '%') ]]>
            </if>
            <if test="ticketQuery.ticketStatus != null">
                <![CDATA[ AND ticket_status = #{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]>
            </if>
            AND
            appro_biz = 'DATA_SOURCE_AUTH'
            AND
            deleted   = false
        </where>
        ORDER BY
            gmt_create DESC
    </select>
</mapper>
