<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.logicaldb.DmLogicalDbMapper">
    <resultMap id="dmLogicalDbDO" type="com.clougence.clouddm.platform.dal.model.logicaldb.DmLogicalDbDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="resource_code" property="resourceCode"/>
        <result column="resource_name" property="resourceName"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="creator_uid" property="creatorUid"/>
    </resultMap>

    <sql id="dmLogicalDb">
        id,
        gmt_create,
        gmt_modified,
        resource_code,
        resource_name,
        description,
        status,
        creator_uid
    </sql>

    <select id="queryByResourceCode" resultMap="dmLogicalDbDO">
        SELECT
            <include refid="dmLogicalDb"/>
        FROM
            dm_logical_db
        WHERE
            resource_code = #{resourceCode}
        LIMIT 1
    </select>
</mapper>
